<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <title>Project Name</title>
</head>
<body>
    <div class="container">
        <h1>About Us</h1>

        <p class="description">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum fuga laboriosam libero. Tempora quos consequuntur, tenetur magni, dolor sit dicta qui placeat aut aliquid quibusdam! Dolores repellendus perspiciatis officia distinctio.
        </p>

        <section class="team">
            <h2>Team Members</h2>
            <ul>
                <li>Tynbayev Maden — SE-2426</li>
                <li>Savzikhanov Ildar — SE-2426</li>
                <li>Muratov Zhakhangir, — SE-2426</li>
                <li>Saken Arhmediyar — SE-2426</li>

            </ul>
        </section>

        <section class="features">
            <h2>Planned Features</h2>
            <ul>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
            </ul>
        </section>
    </div>
</body>
</html>
